- @page_name = 'Upload bulk transactions from a CSV file'
%h2 
  Download and use one of these spreadsheets as a starting point
  
= semantic_form_for @dive_import, :html => { :multipart => true } do |f|
  .form
    = f.input :csv, :hint => 'Remember to save the file as a CSV'
    = f.buttons
  
= link_to 'Back', root_path
