/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require formtastic-bootstrap

*/

.beta {
  color: #E62E00;
  display: block;
  float: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-left: -15px;
  padding: 14px 20px 6px 0px;
}

.hero-unit #hero-image {
  float: right;
  margin: -20px 0 0 0;
}

.left {
  float: left;
}

.left-image {
  float: left;
  padding-left: 20px;
}

.right {
  float: left;
}
.clear {
  clear: both
}

.footer-nav {
  font-size: 11px;
  text-align: right;
  float:right;
}

.footer-nav .footer-bar {
  color: blue;
  padding: 0 12px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}


.error {
    color: #B94A48;
    border-color: #B94A48 !important;
}

.help-inline {
    color: #B94A48 !important;

    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

